@font-face {
    font-family: 'Yekan';
    src: url('../fonts/yekan/Yekan.woff') format('woff');
}

@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Farsi-Digits/Vazir-Light-FD.woff') format('woff');
}

body {
    padding: 0px;
    margin: 0px;
    /* background-color:rgba(60,66,139,.04);  */
    background-color: #f6f6f6;
    max-width: 100%;
    overflow-x: hidden;
    font-family: Yekan, Vazir;
}

.newmenu {
    width: 99%;
    height: 140px;
    background-color: #6f865c;
    background-color: rgb(238, 208, 195);
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 6px;
}

.div_link {
    text-align: right;
    position: relative;
    top: 15px;
    right: 50px;

}

.div_link_a {
    color: rgb(100, 0, 38);
    font-weight: lighter;
    font-size: 14px;

}

.div_link_span {
    color: rgb(148, 0, 57);
    font-weight: lighter;
    font-size: 14px;

}

.newdiv_text {

    color: #ce4c66;
    text-align: center;
    position: relative;
    ;
    top: 3px;
    font-size: 35px;
    font-weight: bold;

}

.product {
    display: inline-block;
    background-color: white;
    width: 270px;
    height: 390px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgb(233, 233, 233);
    margin: 200px 60px 0px 100px;
}

.product:hover {
    transform: translateY(-15px);

}

.product img {
    width: 250px;
    height: 240px;
    border-radius: 30px;
    position: relative;
    top: 8px;
    left: 10px;


}

.product p {
    color: #40170a;
    font-weight: 200;
    position: relative;
    right: 2px;
    text-align: center;

}

.product span.price {
    color: #b94915;
    font-size: large;
    font-weight: 700;
    position: relative;
    left: 118px;
    top: 2px;

}

.product span.currency {
    color: #f19746;
    font-size: medium;
    font-weight: light;
    position: relative;
    top: 2px;
    left: 5px;
}

.bottom_text {
    text-align: center;
    font-size: small;
    font-weight: lighter;
    word-spacing: 5px;
    color: rgb(99, 97, 97);
    position: relative;
    top: 100px;
}